.flow-container {
    width: 100%;
    height: 100vh;
}

.node-container {
    width: auto;
    height: 7.5vh;
    display: flex;
}

.image-container {
    width: auto;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}