venv/
# all files in code_generation/migrations/ except __init__.py
# code_generation/migrations/*
# code_generation/models/__pycache__/*
# code_generation/views/__pycache__/*
web/web/__pycache__/
web/code_generation/migrations/__pycache__/
web/code_generation/models/__pycache__/
web/db.sqlite3
web/code_generation/migrations/
web/code_generation/__pycache__/
web/cleanup.sh